<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>

    <!--<link rel="stylesheet" href="/static/media/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/media/css/bootstrap-theme.min.css">-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <style>
    
    .edit {
    }

    tr .edit {
      display: none;
    }

    tr.edit .edit {
      display: initial;
    }

    tr.edit .noedit {
      display: none;
    }

    </style>
  </head>
  <body>

    {% block navigation %} {% endblock %}

    <div class="container">
      {% block content %} {% endblock %}
    </div>

    <!--<script src="/static/media/js/jquery-1.11.3.min.js"></script>
    <script src="/static/media/js/bootstrap.min.js"></script>-->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  {% block scripts %} {% endblock %}
  </body>
</html>
