{% extends "vote2/base.html" %}
{% block title %} Wprowadź dane komisji {% endblock %}
{% block navigation %}
<a href="../../district/{{ districtParent.id }}">Wróć</a>
{% endblock %}

{% block content %}

{% if formError %}
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{ formError }}
</div>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}
