{% extends "vote2/base.html" %}
{% block title %} Wprowadź dane komisji {% endblock %}
{% block navigation %}
<a href="../../district/{{ districtParent.id }}">Wróć</a>
{% endblock %}

{% block content %}

{% if formError %}
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Błąd:</span>
  {{ formError }}
</div>
{% endif %}

<div class="page-header">
  <h1>Wprowadź dane dla jednostki</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ commission.name }}</h3>
  </div>
  <div class="panel-body">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
          <label for={{ form.receivedCardsToVote.id_for_label }}>Otrzymano kart do głosowania</label>
          {{ form.receivedCardsToVote }}
        </div>
        <div class="form-group">
          <label for={{ form.votersAllowedToVote.id_for_label }}>Uprawnionych do głosowania</label>
          {{ form.votersAllowedToVote }}
        </div>
        {{ form.timesModificated }}
        <button type="submit" class="btn btn-success">Zatwierdź</button>
    </form>
    <form action="../../district/{{ districtParent.id }}">
      <input type="submit" value="Wróć">
    </form>
  </div>
</div>

{% endblock %}
