{% extends "vote2/base.html" %}
{% block title %} Wybierz jednostkę {% endblock %}

{% block navigation %}
<ol class="breadcrumb">
  <li><a href="/vote2">Strona Główna</a></li>
  {% for breadcrumb in breadcrumbs %}
    <li><a href="/vote2/district/{{ breadcrumb.id }}">{{ breadcrumb.name }}</a></li>
  {% endfor %}
</ol>
{% endblock %}

{% block content %}

{% if error %}
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Błąd:</span>
  {{ error }}
</div>
{% endif %}

{% if success %}
<div class="alert alert-success" role="alert">Dane zostały zapisane</div>
{% endif %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
        Wybierz okręg
      </ol>
    </h3>
  </div>

    {% if voievodships %}
    <div class="panel-body">
      <ul>
        {% for voievodship in voievodships %}
          <li><a href="/vote2/district/{{ voievodship.id }}/">{{ voievodship.name }}
          </a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if commissions %}
    <table class="table table-striped">
      <tr>
        <th>Komisja</th>
        <th>Komisja otrzymała kart do głosowania</th>
        <th>Liczba wyborców uprawionych do głosowania</th>
      </tr>
        {% for commission in commissions %}
        <tr>
          <td><a href="../../commission/{{ commission.id }}">{{ commission.name }}</a></td>
          <td>{{ commission.receivedCardsToVote }}</td>
          <td>{{ commission.votersAllowedToVote }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}


</div>
{% endblock %}
